<%= form_with(model: @blog, local: true, url:new_or_edit) do |form| %>

  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h3><%= @blog.errors.count %>件のエラーがあります。</h3>
      <ul>
      <% @blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="blog_title">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="blog_content">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>

  <div class="blog_image">
    <%= form.label :image %>
    <%= image_tag(@blog.image.url,width: '40%', heigt: '40%') if @blog.image && @blog.image.url %>
    <%= form.file_field :image %>
    <%= form.hidden_field :image_cache %>
  </div>

  <%= form.submit '投稿確認画面へ'%>

  <br>

  <%= link_to "投稿の一覧画面へ", blogs_path %>

<% end %>